.chatting-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: auto;
}
.backToRoomsButton {
  z-index: 1000; 
  padding: 15px 30px;
  background-color: #007bff;
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 20px; 
}

.backToRoomsButton:hover {
  background-color: #0056b3; 
}


.chat-content {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  max-height: 80vh; 
}


.Chat {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  max-height: 80vh; 
}


.display-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 10px;
  
}

.messaging-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.input, .sendMessageButton, .recordButton {
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.recordButton {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px; 
  padding: 10px;
  border-radius: 50%; 
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recordButton.recording {
  background-color: #dc3545;
}

.recordButton i {
  font-size: 24px;
}

.sendMessageButton:hover, .recordButton:hover {
  background-color: lightblue;
}
.sendMessageButton, .recordButton {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px; 
  padding: 15px 30px;
  border-radius: 8px; 
  border: none; 
  margin: 5px; 
  transition: background-color 0.3s ease; 
}


.sendMessageButton:hover, .recordButton:hover {
  background-color: #0056b3; 
}


.recordButton.recording {
  background-color: #dc3545;
}

.message-bubble {
  max-width: 80%; 
  padding: 20px 30px; 
  border-radius: 28px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 18px;
  margin-bottom: 15px; 

  margin: 20px;
}

.user-message {
  background-color: #d8d8ff;
  align-self: flex-end;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.other-message {
  background-color: #e9ecef;
  align-self: flex-start;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

@media (max-width: 768px) {
  .chatting-container, .chat-content {
    flex-direction: column;
    width: 100%;
  }
}
